.dl-horizontal dt {
    white-space: normal;
}

nav ul a:hover {
    background-color: rgba(255, 255, 255, 0.4)!important;
}

.nav-container{
    margin: 0 5%;
}

.relative-container{
    position:relative;
}

.logo{
    position:absolute;
    width:35%;
    left:35%;
}

.logo img{
    border: 0;
    width: 95%;
}

.parallax-container {
      height: 450px;
}

.box-content, box-content.sub{
    position:absolute;
    top:50%;
    left:2%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width:62%;
}

.box-content.sub{
    top:70%;
    left:2%;
    border-color: #2196F3;
    width:33.6%;
}

.tag{
    display:inline-block;   
    padding: 10px 10px;
}

.no-margin{
    margin: 0px;
}

.label-tag{
    font-style:italic;
    font-weight:bold;
}

.content-tag{
    font-style:italic
}

.header-job{
    background:url('img/SiteImages/see_our_job.jpg') no-repeat;
    background-size:cover;
    width:100%;
    height:440px;
}

.header-rickquest{
    background:url('img/SiteImages/make-rickquest.jpg') no-repeat;
    background-size:cover;
    width:100%;
    height:440px;
}

.box-header{
    border-radius:4px;
    background-color:rgba(0, 0, 0,.5);
    padding:10px 10px;

}

.header-padding{
    padding-top:280px !important;
}

.header-title{
    font-size:200%;
}

.header-subtitle{
    font-size:150%;
}

@media only screen and (max-width:480px){
    .logo{
        position:absolute;
        left:8%;
        top:80%;
        width:60%;
    }

    .logo img{
        border: 0;
        width: 150%;
    }

    .no-jobs{
        margin-top:100px !important; 
    }
} 

@media only screen and (min-width:481px) and (max-width:600px){
    .logo{
        position:absolute;
        left:20%;
        top:30%;
        width:30%;
    }

    .logo img{
        border: 0;
        width: 150%;
    }
} 

@media only screen and (min-width:601px) and (max-width:992px){
    .logo{
        position:absolute;
        left:25%;
        top:20%;
        width:30%;
    }

    .logo img{
        border: 0;
        width: 150%;
    }
}
 
